#esconder{
    visibility: hidden;
}

#contacto {
    height: 500px;
    width: 800px;
}

.top-nav {
	margin-right:1em;
	width: 1000px;
}

.top-nav ul li a:hover	{
	color:#00a0e3;
	font-size:1.01em;
}

.logo	{
	position: relative;
	margin-left: 2.5em;

}

#linha{
	width:100%;
	height:1px;
	background:#35C2F8;
	display:inline-block;
}

#past, #case, #team	{
	background-color:#F6F9FC;
}

.centered	{
	text-align: center;
}

#pdf	{
	width: 100%;
	height: 400px;
}

#mapaconceptualwhatif	{
	width: 100%;
	height: 100%;
}

.lastbuttons	{
	font-size: 2em;
	color: white;
}

.lastbuttons:hover	{
	color: #f9f9f9;
	text-decoration: none;
}

.img-team {
  width: 250px;
  height: 200px;
}

.futuro	{
	width: 200px;
	height: 200px;
}